.container{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 40px 45px auto 45px 95px;
    grid-template-areas:
    "l l l h h h h h h h h h"
    "l l l . . . . . . . . ."
    "s s s s s s s s s s s s"
    /*"c c c c c c c c c c c c"*/
    ". d d d . c c . e e e ."
    "b b b b b b b b b b b b"
    "f f f f f f f f f f f f";
}

.nav{
    /*grid-column: 2 / 12;*/
    grid-area: h;
    padding: 10px 50px 10px 0px;
}
    .resources_link{
        float: right;
        width: auto;
        display: block;
        /*outline: 0;*/
    }
    .url_short_link{
        float: right;
        width: auto;
        display: block;
        padding-right: 50px;
        /*outline: 0;*/
    }
    .home_link{
        float: right;
        width: auto;
        display: block;
        padding-right: 50px;
        /*outline: 0;*/
    }


.logo{
    /*grid-column: 1 / 3;*/
    grid-area: l;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-gap: 300px;
}

.space{
    grid-area: s;
}

/*.content{*/
    /*!*grid-column: 3 / -1;*!*/
    /*grid-area: c;*/
    /*height: 400px;*/
/*}*/

.dragdrop{
    grid-area: d;
    /*padding: 33.9%;*/
    padding: 100px 20px 100px 20px;
}

.chkbox{
    grid-area: c;
    /*padding: 33.9%;*/
    padding: 100px 50px 100px 50px;
    border: solid;
}

.emails{
    grid-area: e;
    /*padding: 33.9%;*/
    padding: 100px 20px 100px 20px;
}

.btm_space{
    grid-area: b;
}

.footer{
    /*grid-column: 1 / -1;*/
    grid-area: f;
    text-align: right;
    padding-top: 60px;
    padding-right: 60px;

}